.altroWrap {
    font-size: clamp(0.2em, 0.8em, 1em);
    margin-inline: clamp(0px, 20%);
    /* Dimensione del testo di base */
}

.altroWrap p {
    font-size: clamp(1.3em, 1.5vw, 2em);
    /* Dimensione del testo di base */
}

.altroWrap h2 {
    font-size: clamp(1.5em, 2.5vw, 2em);
    /* Dimensione del testo di base */
}

html {
    color: white;
}

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.indexHeader {
    text-align: center;
    font-size: clamp(1.2em, 3.5vw, 2em);
    animation: rainbow 1.5s infinite;
    /* Dimensione del titolo */
}

.mainContenuto {
    margin: 5%;
}

.mainContenuto1 {
    margin: 5%;
}

.mainContenuto p,
.mainContenuto1 p {
    margin-top: 0;
}

.mainContenuto1 h2 {
    margin-top: 0;
    text-align: right;
}

.mainContenuto1 .contentWrapper {
    text-align: justify;
    display: flex;
    /* Dispone l'immagine e il testo affiancati */
    flex-direction: row-reverse;
}

.contentWrapper {
    text-align: justify;
    display: flex;
    /* Dispone l'immagine e il testo affiancati */
}

.mainContenuto1 img {
    height: clamp(10px, 30vh, 500px);
    /* Imposta l'altezza dell'immagine con clamp */
    border-style: double;
    border-color: white;
}

.mainContenuto img {
    height: clamp(10px, 30vh, 500px);
    /* Imposta l'altezza dell'immagine con clamp */
    border-style: double;
    border-color: white;
}

.mainContenuto .imgWrap {
    padding-right: clamp(10px, 1%, 20px);
    /* Padding responsive */
}

.mainContenuto1 .imgWrap {
    padding-left: clamp(10px, 1%, 20px);
    /* Padding responsive */
}

.offcanvas {
    position: fixed;
    top: 0;
    left: -250px;
    /* Hidden off-screen */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    overflow-y: auto;
    transition: 0.3s ease;
    z-index: 1000;
}

.offcanvas ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.offcanvas li {
    padding: 15px;
}

.offcanvas a {
    color: white;
    text-decoration: none;
}

.offcanvas a:hover {
    background-color: #575757;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Menu Button */
.menu-btn {
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1100;
}

/* Content Area */
.content {
    padding: 20px;
}

/* Show the Menu */
.offcanvas.show {
    left: 0;
}



@keyframes rainbow {
    0% {
        color: white;
    }

    25% {
        color: #1800ff;
    }

    50% {
        color: #ffef00;
    }

    100% {
        color: white;
    }

}