.altroWrap {
    font-size: clamp(0.2em, 0.8em, 1em);
    margin-inline: clamp(0px, 20%);
    flex: 1;
    /* Dimensione del testo di base */
}

.altroWrap p {
    font-size: clamp(1.3em, 1.5vw, 2em);
    /* Dimensione del testo di base */
}

.altroWrap h2 {
    font-size: clamp(1.5em, 2.5vw, 2em);
    /* Dimensione del testo di base */
}

figcaption {
    text-align: center;
}

html {
    color: white;
}

body,
html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.indexHeader {
    text-align: center;
    font-size: clamp(1.2em, 3.5vw, 2em);
    animation: rainbow 1.5s infinite;
    /* Dimensione del titolo */
}

.mainContenuto {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.mainContenuto1 {
    margin: 5%;
}

.mainContenuto p,
.mainContenuto1 p {
    margin-top: 0;
}

.mainContenuto1 h2 {
    margin-top: 0;
    text-align: right;
}

.mainContenuto1 .contentWrapper {
    text-align: justify;
    display: flex;
    /* Dispone l'immagine e il testo affiancati */
    flex-direction: row-reverse;
}

.contentWrapper {
    text-align: justify;
    display: flex;
    /* Dispone l'immagine e il testo affiancati */
}

.mainContenuto1 img {
    height: clamp(10px, 30vh, 500px);
    /* Imposta l'altezza dell'immagine con clamp */
    border-style: double;
    border-color: white;
}

.mainContenuto img {
    height: clamp(10px, 30vh, 500px);
    /* Imposta l'altezza dell'immagine con clamp */
    border-style: double;
    border-color: white;
    object-fit: cover;
}

.mainContenuto .imgWrap {
    padding-right: clamp(10px, 1%, 20px);
    /* Padding responsive */
}

.mainContenuto1 .imgWrap {
    padding-left: clamp(10px, 1%, 20px);
    /* Padding responsive */
}

.offcanvas {
    position: fixed;
    top: 0;
    left: -250px;
    /* Hidden off-screen */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    overflow-y: auto;
    transition: 0.3s ease;
    z-index: 1000;
}

.offcanvas ul {
    list-style: none;
    padding: 0;
}

.offcanvas li {
    padding: 15px;
}

.offcanvas a {
    color: white;
    text-decoration: none;
}

.offcanvas a:hover {
    background-color: #575757;
}

/* Close Button */
.close-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding-inline: 20px;
    padding-top: 10px;
}

.close-btn-cont {
    display: flex;
    flex-direction: row-reverse;
}

/* Menu Button */
.menu-btn {
    visibility: hidden;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1100;
    opacity: 0;
    transition: opacity 0.4s;
}

.menu-btn.visible {
    visibility: visible;
    display: block;
    opacity: 1;
}

.offcanvas li:hover {
    background-color: #636363;
    color: white;
}

/* Content Area */
.content {
    padding: 20px;
}

/* Show the Menu */
.offcanvas.show {
    left: 0;
}

/* Stile del pulsante accordion */
.accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-family: "Tiny5", sans-serif;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #333;
    color: white;
}

/* Stile del pannello nascosto e visibile */
.panel {
    padding: 0 18px;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Simbolo "+" quando l'accordion è chiuso */
.accordion:after {
    content: '\02795';
    /* Unicode del simbolo "+" */
    font-size: 20px;
    /* Puoi aumentare la dimensione per renderlo più visibile */
    color: white;
    /* Colore del simbolo */
    float: right;
    /* Posiziona il simbolo a destra */
    margin-left: 10px;
    /* Spazio tra il simbolo e il testo */
}

/* Simbolo "-" quando l'accordion è attivo */
.accordion.active:after {
    content: '\2796';
    /* Unicode del simbolo "-" */
    font-size: 20px;
    /* Puoi mantenere la stessa dimensione */
    color: white;
    /* Colore del simbolo */
}

@keyframes rainbow {
    0% {
        color: white;
    }

    25% {
        color: #1800ff;
    }

    50% {
        color: #ffef00;
    }

    100% {
        color: white;
    }

}

@media (max-width: 600px) {
    .panel .contentWrapper {
        flex-direction: column;
        align-items: center;
    }

    .panel .mainContenuto .imgWrap {
        padding-right: 0px;
        margin-bottom: 5px;
    }

    .panel .mainContenuto img {
        height: clamp(10px, 30vh, 500px);
        border-style: double;
        border-color: white;
        max-width: 100%;
        object-fit: cover;
    }
}